.navigation
{
  background-color:rgb(232, 0, 0);
  overflow: hidden;
  height: 60px;
  text-align: center;

}
.navigation a
 {
   float: left;
   color: black;
   text-align: center;
   font-size: 30px;
   padding: 14px 16px;
   text-decoration: none;
 }

 .navigation a:hover
 {
  background-color:rgb(14, 14, 14);
   color: white;
 }
 .navigation a.active
 {
   background-color:rgb(172, 205, 216);
   color: black;
 }
 .navigation img
 {
  float: right;
  clear: right;
 }

 .nintendoLogo a
 {
  text-align: center;
  position: relative;
  float: right;
  clear: both;
  top: -60px;
 }

 body 
 {
   background-image: url(Pictures/25-256924_nintendo-wallpapers-nintendo-wallpaper-hd.jpg);
   background-color: rgb(40, 39, 39);
   margin: 0px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: red;
 }
 .titleImage
 {
   text-align: center;
 }
