
.navigation
{
  background-color:rgb(232, 0, 0);
  overflow: hidden;
  height: 60px;
  text-align: center;

}
.navigation a
 {
   float: left;
   color: black;
   text-align: center;
   font-size: 30px;
   padding: 14px 16px;
   text-decoration: none;
 }

 .navigation a:hover
 {
  background-color:rgb(14, 14, 14);
   color: white;
 }
 .navigation a.active
 {
   background-color:rgb(14, 14, 14);
   color: white;
 }
 h1
 {
   text-align: center;
 }
 body 
 {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url(Pictures/bg.png);
  background-size: 1.6cm;
   text-align: left;
   background-color: rgb(40,39,39);
   margin: 0px;
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
 }
.submenu
{
  text-align: center;
  float: left;
  width: 15%;
  text-decoration: none;
  color: white;
}
.submenu a
{
  text-align: left;
  text-decoration: none;
  color: white;
}
.navigation img
 {
  float: right;
  clear: right;
 }
.textcontent
{
  float: right;
  width: 85%;
}
span
{
  position:relative;
  left:-1em;
}

h1
{
  text-align: center;
  font-size: 40px;
}
.row:after 
{
  clear: both;
}
.topgamesclass
{
  float: right;
  width: 50%;
}
.consoles
{
  float: left;
  width: 50%;
}
.textcontent:after
{
  float: right;
  width: 50%;
}
.nintendoLogo a
 {
  text-align: right;
  position: relative;
  float: right;
  clear: both;
  top: -60px;
 }